body {
    background: rgb(59,0,170);
    background: linear-gradient(90deg,
        #000 0%,
        #30a 1%,
        #11b 24%,
        #15a 51%,
        #0df 80%,
        #7f0 80.5%,
        #0df 81%,
        #fff 100%);
    color: #2c9;
    font-family: Arial, Helvetica, sans-serif;
}